= form_for @translation do |f|
  = render :partial => 'errors', :locals => {:object => @translation}
  .field
    = f.label :key
    %br
    = f.text_field :key
  - InterpreterTranslation.available_locales.each do |locale|
    .field
      = f.label locale
      %br
      = f.text_field locale
  .actions
    = f.submit "Save"
