%h1= link_to 'Translations', interpreter_translations_url

%p= @search_notice

#search_translations
  = form_tag search_interpreter_translations_path do
    .field
      = text_field_tag :query
    .actions
      = submit_tag "Search"

%p= link_to "New Translation", new_interpreter_translation_path

#translations
  - @translations.each do |t|
    .translation{:id => t.id}
      .key= t.id
      .value= t.value
      .links
        = link_to 'Remove', interpreter_translation_path(t.key.gsub('.','-')), :method => :delete
    %br.clearfloat

%p= link_to "New Translation", new_interpreter_translation_path
