%h1= link_to 'Translations', interpreter_translations_url

%p= @search_notice

#search_translations
  = form_tag search_interpreter_translations_path do
    .field
      = text_field_tag :query
    .actions
      = submit_tag "Search"

%p= link_to "New Translation", new_interpreter_translation_path

%table#translations{:cellpadding => 0, :cellspacing => 0}
  %thead
    %tr
      - InterpreterTranslation.available_locales.each do |locale|
        %td= locale
  %tbody
    - @translations.each do |t|
      %tr.translation{:id => t.key}
        - InterpreterTranslation.available_locales.each do |locale|
          %td.locale= t.send(locale)
        %td.links
          = link_to 'Edit', edit_interpreter_translation_path(t)
          = link_to 'Remove', interpreter_translation_path(t), :method => :delete
